
.page-four-oh-four {
  margin: 50px 100px;

  text-align: center;

  .icon {
    
    font-size: 144px;
  }
}

.four-oh-four-wrapper {
  display: block;
  
  padding: 50px 0;

  background: #FFFFFF;

  border-radius: 4px;
}
