
.page-four-oh-four {
  margin: 50px 100px;

  text-align: center;

  .icon {
    font-size: 144px;
  }
}

.four-oh-four-wrapper {
  display: block;
  
  padding: 50px 0;

  background: #FFFFFF;

  border-radius: 4px;
}

@media (max-width: 955px) {
  .page-four-oh-four {
    margin: 25px;

    .icon {
      font-size: 72px;
    }

    .title {
      font-size: 24px;
    }

    .message {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px) {
  .page-four-oh-four {
    .icon {
      font-size: 36px;
    }

    .title {
      font-size: 18px;
    }

    .message {
      font-size: 14px;
    }
  }
}
