
.home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 440px;
  width: 100%;

  background-image: url('https://cleanlineslawncare.s3.us-east-1.amazonaws.com/image000001.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home-header-overlay {
  padding: 30px 280px;

  background: rgba(0, 0, 0, 0.4);

  color: #FFFFFF;

  font-size: 36px;
  font-weight: 700;

  text-align: center;
}

.overview {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;

  background: #FFFFFF;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

  border-radius: 4px;
}

.overview-item {
  flex: 0 0 calc(50% - 50px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 320px;

  padding: 25px;

  &:nth-child(odd) {
    background: #EFEFEF;
  }

  &.serving {
    background-image: url('https://cleanlineslawncare.s3.us-east-1.amazonaws.com/Screenshot_20210807-001456%20%281%29.png');
    background-position: center;
    background-size: cover;

    border-top-left-radius: 4px;
  }

  &.quality {
    background-image: url('https://cleanlineslawncare.s3.us-east-1.amazonaws.com/oldimages/Mowing.jpg');
    background-position: center;
    background-size: cover;
  }

  &.full-service {
    background-image: url('https://cleanlineslawncare.s3.us-east-1.amazonaws.com/image000000.jpg');
    background-position: center;
    background-size: cover;

    border-bottom-left-radius: 4px;
  }
}

.overview-item-title {
  font-size: 36px;
  font-weight: 700;

  margin-bottom: 36px;
}

.overview-item-content {
  font-size: 24px;
}

@media (max-width: 1200px) {
  .home-header-overlay {
    padding: 30px 25px;
  }
}

@media (max-width: 955px) {
  .home-header {
    height: 300px;
  }

  .home-header-overlay {
    font-size: 24px;
  }

  .overview {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .overview-item-title {
    font-size: 24px;
  }
  
  .overview-item-content {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .overview {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .overview-item {
    flex: 0 0 calc(100% - 50px);

    &.serving {
      display: none;
    }
  
    &.quality {
      display: none;
    }
  
    &.full-service {
      display: none;
    }
  }
}
