

.footer {
  background: #60C26D;

  font-size: 18px;
  font-weight: 700;

  color: #FFFFFF;
}

.footer-container {
  display: flex;
  
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}


.footer-side {
  flex: 0 0 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.links {
    padding-top: 80px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    margin-bottom: 14px;
  }
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-item {
  margin-top: 18px;

  a.icon {
    font-size: 24px;
  }
}

.footer-attribution {
  background: #56AD62;

  width: 100%;

  padding: 5px;

  margin-top: 50px;

  font-size: 14px;
  font-weight: 700;

  text-align: center;
}
