
.logo {
  display: flex;
  align-items: center;

  margin: 0;

  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 36px;

  color: #FFFFFF;
}

.logo-img {
  height: 60px;
  width: 60px;

  margin-right: 30px;
}