
.message-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px 100px;

  text-align: center;
}

.message-wrapper {
  padding: 40px;

  border-radius: 4px;

  background: #FFFFFF;
}

.message-icon {
  font-size: 72px;
}

.error {
  .message-icon {
    color: #FF5555;
  }
}

.success {
  .message-icon {
    color: #60C26D;
  }
}

@media (max-width: 955px) {
  .message-box {
    margin: 25px;
  }

  .message-icon {
    font-size: 48px;
  }
}

@media (max-width: 500px) {
  .message-box {
    margin: 10px;
  }
  
  .message-icon {
    font-size: 36px;
  }

  .message-title {
    font-size: 18px;
  }

  .message-content {
    font-size: 14px;
  }
}
