
ul.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

  border-radius: 4px;
  overflow: hidden;

  &, &.no-style {
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 955px) {
  ul.services-grid {
    &, &.no-style {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}
