
.alternatively-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    height: 1px;

    background: #000;

    z-index: 1;
  }
}

.alternatively {
  padding: 0 10px;

  background: #FFF;

  z-index: 2;
}
