
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 50px 25px;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: calc(100% - 50px);
    max-width: 750px;

    padding: 25px;
  
    background: #FFFFFF;
  
    border-radius: 4px;
  
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

    .row-button {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

  .input-container {
    display: flex;
    justify-content: space-between;
  
    input, textarea {
      flex: 0 0 40%;
    }
  }


  .form-title {
    text-align: center;
  }
}

@media (max-width: 955px) {
  .form {
    padding: 25px 25px;
  }
}

@media (max-width: 500px) {
  .form {
    padding: 10px 10px;
  }
}

@media (max-width: 550px) {
  .input-container {
    flex-direction: column;

    input, textarea {
      flex: 0 0 100%;
    }
  }
}
